<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>EDIT FORM</h1>
   
   {% for task in tasks%}
   <p> {{task.id}} : <em>{{task.Name}}</em> : {{task.Description}} : {{task.urgent}} : {{task.done}} <a  href = "/edit/<id>">EDIT</a></p>
   {% endfor %}
   
    
    <form action="/edit/{{task.id}}" method="POST">
        <input type="text" name="name" value= "{{task.Name}}"/>
        <input type="text" name="description" value = "{{task.Description}}"/>
        <input type="checkbox" name="urgent" {% if task.urgent %}checked{% endif %}>urgent?
        <input type="checkbox" name="done" {% if task.done %}checked {% endif %}>done?
        <input type="submit" value= "save" /> 
        
    </form>
    
</body>
</html>